openapi: 3.0.3
info:
  title: GDNL EOS Enterprise API
  version: 3.0.0
  description: Cloudflare Worker API for GDNL EQMS / GDNL EOS Enterprise.
servers:
  - url: https://api.gdnldigital.com/api
security:
  - cookieAuth: []
paths:
  /auth/me:
    get:
      summary: Current session user
      responses:
        "200":
          description: Current user
  /auth/logout:
    post:
      summary: Logout current session
      responses:
        "200":
          description: Logout completed
  /users:
    get:
      summary: List users
      responses:
        "200":
          description: Users
  /departments:
    get:
      summary: List departments
      responses:
        "200":
          description: Departments
  /documents:
    get:
      summary: List documents
      responses:
        "200":
          description: Documents
    post:
      summary: Create document
      responses:
        "201":
          description: Created
  /capa:
    get:
      summary: List CAPA records
      responses:
        "200":
          description: CAPA records
  /risks:
    get:
      summary: List risks
      responses:
        "200":
          description: Risks
  /actions:
    get:
      summary: List actions
      responses:
        "200":
          description: Actions
  /audits:
    get:
      summary: List audits
      responses:
        "200":
          description: Audits
  /trainings:
    get:
      summary: List trainings
      responses:
        "200":
          description: Trainings
  /suppliers:
    get:
      summary: List suppliers
      responses:
        "200":
          description: Suppliers
  /messages:
    get:
      summary: List internal mailbox messages
      parameters:
        - in: query
          name: folder
          schema:
            type: string
            enum: [inbox, sent, drafts, trash]
        - in: query
          name: search
          schema:
            type: string
        - in: query
          name: status
          schema:
            type: string
        - in: query
          name: priority
          schema:
            type: string
      responses:
        "200":
          description: Messages
    post:
      summary: Create or send internal message
      responses:
        "201":
          description: Message created
  /messages/{id}:
    get:
      summary: Get message
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Message detail
    put:
      summary: Update internal message or draft
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Message updated
    delete:
      summary: Soft delete internal message
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Message deleted
  /messages/{id}/read:
    put:
      summary: Mark internal message as read
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Message read state updated
  /messages/{id}/trash:
    put:
      summary: Move internal message to trash
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Message moved to trash
  /messages/{id}/restore:
    put:
      summary: Restore internal message from trash
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Message restored
  /message-recipients:
    get:
      summary: List internal message recipients
      responses:
        "200":
          description: Message recipients
  /message-attachments:
    get:
      summary: List internal message attachments
      responses:
        "200":
          description: Message attachments
  /notifications:
    get:
      summary: List notifications
      responses:
        "200":
          description: Notifications
    post:
      summary: Create notification
      responses:
        "201":
          description: Notification created
  /notifications/{id}/read:
    put:
      summary: Mark notification as read
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Notification read state updated
  /activity-feed:
    get:
      summary: List activity feed
      responses:
        "200":
          description: Activity feed
  /audit-logs:
    get:
      summary: List audit logs
      responses:
        "200":
          description: Audit logs
  /search:
    get:
      summary: Global search
      parameters:
        - in: query
          name: q
          required: true
          schema:
            type: string
      responses:
        "200":
          description: Search results
  /files/upload:
    post:
      summary: Upload file to R2
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                file:
                  type: string
                  format: binary
                module:
                  type: string
                related_id:
                  type: string
      responses:
        "201":
          description: File uploaded
components:
  securitySchemes:
    cookieAuth:
      type: apiKey
      in: cookie
      name: gdnl_eos_token
  schemas:
    ApiSuccess:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: object
        message:
          type: string
    ApiError:
      type: object
      properties:
        success:
          type: boolean
        error:
          type: object
